    <div class="site-section">
      <div class="container">

        <div class="row mb-5 align-items-st">
          <div class="col-md-4">
            <div class="heading-20219">
              <h2 class="title text-cursive">Featured Projects</h2>
            </div>
          </div>
        </div>

        <div class="row">
            {% if  context.featured_projects %}
                {% for project in context.featured_projects %}
                    <div class="col-md-4">

                        <div class="cause shadow-sm">

                            <a href="#" class="cause-link d-block">
                              <img src="{{ STATIC_URL }} /static/home/images/img_3.jpg" alt="Image" class="img-fluid">
                              <div class="custom-progress-wrap">
                                <span class="caption">80% complete</span>
                                <div class="custom-progress-inner">
                                  <div class="custom-progress bg-warning" style="width:{{ project.current_money|divisibleby:project.target }}%;"></div>
                                </div>
                              </div>
                            </a>

                            <div class="px-3 pt-3 border-top-0 border border ">
                              <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">{{ project.category }}</span>
                              <h3 class="mb-4"><a href="#">{{ project.title }}</a></h3>
                              <div class="border-top border-light border-bottom py-2 d-flex">
                                <div>Donated</div>
                                <div class="ml-auto"><strong class="text-primary">{{ project.current_money }}</strong></div>
                              </div>

                              <div class="py-4">
                                <div class="d-flex align-items-center">
                                  <img src="{{ STATIC_URL }} /static/home/images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                                  <div class="">James Smith</div>
                                </div>
                              </div>
                            </div>

                          </div>

                    </div>
                {% endfor %}
            {% endif %}

        </div>

      </div>
    </div>