<div class="owl-carousel-wrapper">
    <div class="box-92819">
        <h1 class="text-white mb-3">Join The Movement To end Child Poverty</h1>
    </div>

    <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_2.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_3.jpg');"></div>
    </div>

</div>

<div class="container">
    <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('{{ STATIC_URL }} /static/home/images/img_3_gray.jpg');">
          <div class="text">
            <h3 class="text-cursive text-white h1">{{ context.categories.0 }}</h3>
          </div>
        </a>

        <a href="#" class="feature-29192 overlay-success" style="background-image: url('{{ STATIC_URL }} /static/home/images/img_2_gray.jpg');">
          <div class="text">
            <h3 class="text-cursive text-white h1">{{ context.categories.1 }}</h3>
          </div>
        </a>

        <a href="#" class="feature-29192 overlay-warning" style="background-image: url('{{ STATIC_URL }} /static/home/images/img_1_gray.jpg');">
          <div class="text">
            <h3 class="text-cursive text-white h1">{{ context.categories.2 }}</h3>
          </div>
        </a>

        <a href="#" class="feature-29192 overlay-success" style="background-image: url('{{ STATIC_URL }} /static/home/images/img_2_gray.jpg');">
          <div class="text">
            <h3 class="text-cursive text-white h1">Others</h3>
          </div>
        </a>

    </div>
</div>