<div class="owl-carousel-wrapper">
    <div class="box-92819">
        <h1 class="text-white mb-3">Join The Movement To end Child Poverty</h1>
    </div>

    <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_2.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('{{ STATIC_URL }} /static/home/images/hero_3.jpg');"></div>
    </div>

</div>