<div class="container">

    <div class="row mb-5 align-items-st">
      <div class="col-md-4">
        <div class="heading-20219">
          <h2 class="title text-cursive">Our team</h2>
        </div>
      </div>
    </div>

    <div class="team-grids">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 team-grid">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="{{ STATIC_URL }} /static/home/images/69713014_1779467038864348_1187875915556716544_n.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="heading-20219">
                  <h2 class="title text-cursive">Halim</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-grid">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="{{ STATIC_URL }} /static/home/images/66481110_714050172367375_5392518202485899264_o.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="heading-20219">
                  <h2 class="title text-cursive">Ayman</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-grid">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="{{ STATIC_URL }} /static/home/images/46495504_1938881999494901_6617367575938465792_o.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="heading-20219">
                  <h2 class="title text-cursive">Mina</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-grid">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="{{ STATIC_URL }} /static/home/images/81742797_3326952033998438_3516961084458139648_n.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="heading-20219">
                  <h2 class="title text-cursive">Islam</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-grid">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="{{ STATIC_URL }} /static/home/images/person_5.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
                <div class="heading-20219">
                  <h2 class="title text-cursive">Samar</h2>
                </div>
            </div>
        </div>
    </div>
</div>
