{% extends "nav.html" %}
{% block head%}
<title>profile</title>
{% endblock%}
{% block body_block %}
<section class="section_gap">
<div class="container">
<h2 style="text-align:center">{{data.name}}</h2>

<div class="card">
    <br>

   <ul border="0" width="800" height="150">
       <li><b>First Name:</b> {{data.f_name}}</li><li><b>Last Name: </b>{{data.l_name}}</li>
       <li><b>Phone: </b>{{data.phone}}</li><li><b>Email:</b> {{data.mail}}</li>
       <li><b>Country:</b>{{data.country}}</li><li><b>Birth Date:</b> {{data.birth_date}}</li>
       <li><b>Facebook account:</b> <a href="{{data.facebook}}"> {{data.facebook}}</a></li>
   </ul>
    <br>
    <p>**********************************************************************************************************************</p>
    <h3>Your projects</h3>
    <p>   {{ p_data.details }}</p>
    <p>   {{ p_data.project_title }}</p>
    <p>    {{ p_data.target}}</p>
</div>
</div>

    </section>
{% endblock %}

