{% extends "nav.html" %}
{% block style_block %}
<!-- Test Tags input -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>	
{% endblock %}

{% block body_block %}
{% load widget_tweaks %}

<section class="section_gap">

<img src=""> 
<div class="container">
<form enctype="multipart/form-data" action="{% url 'create' %}" method="post" >
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {% if field.label == "Tags" %}
          {% for o in field %}
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" name="tags" value="{{o.data.value}}" class="custom-control-input" id="{{ o.data.attrs.id }}" > 
            <label class="custom-control-label" for="{{ o.data.attrs.id }}" >{{o.data.label}}</label> 
            <br>
          </div>
          {% endfor %}

        {% else %}
        {% render_field field class="form-control" %}
        {% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}
    <div class="form-group">
      <label>Cover Image:</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/png, image/jpeg" required  name="cover_images" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
    </div>
    <div class="form-group">
      <label>Porject Images:</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/png, image/jpeg" required  name="images" multiple>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      </div>
    </div>
    <div class="form-group">
      <label>Tags : </label>
      <br>
      <input type="text" value="" data-role="tagsinput" name="test" style=></input>
      <input type="submit"  class="btn btn-primary" value="Create Project" style="display:block;margin: auto;margin-top:30px;width:200px;background-color: green;border-color:green">
          <div class="form-group">
    </div>
</form>
</div>
</section>
{% endblock %}

