{% extends "nav.html" %}
{% block style_block %}
<style>

</style>
{% endblock %}
{% block body_block %}
<div class="section_gap">
    <div class="row">
        <div class="col-7">
            <h1 style="font-size: 500px; color:grey;">404</h1>
        </div>
        <div class="col-5">
            <img style="clip: rect(15px,566px,608px,0px); position: absolute;" src="https://i.pinimg.com/originals/9f/6b/4c/9f6b4c592add51582bd8abf3aa1dad29.gif" alt="a sleeping cat">
        </div>
    </div>
    <div class="row align-content-center">            
        <h1 class="col-6 offset-4">Couldn't find the project</h1>
    </div>

</div>
{% endblock %}
{% block script_block %}
{% endblock %}