{% extends "nav.html" %}
{% block body_block %}
<html lang="en">
<head>
	<title>Sign up code validation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../../../static/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/login.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-90 p-b-30">
				<form class="login100-form validate-form" action="{% url 'code_validation' %}" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-40">
						Please Enter the code you just received in your email
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter your signup code">
						<input class="input100" type="text" name="sign_up_code" placeholder="Enter the sign up code..">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit code
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="../../../static/vendors/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/vendors/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/vendors/bootstrap/js/popper.js"></script>
	<script src="../../../static/vendors/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/vendors/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/vendors/daterangepicker/moment.min.js"></script>
	<script src="../../../static/vendors/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/vendors/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/js/login.js"></script>
<!--===============================================================================================-->
	<script src="../../../static/js/sign_in_validator"></script>
</body>
</html>
{% endblock %}