
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #eb4b57;
    color: whitesmoke;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #eb4b57;
  color: white;
}